#container {
  width: 700px;
  margin: 0 auto;
}

.chat-input {
  /*width: 70%;*/
  /*height: 35px;*/
  border: solid 1px #444;
  border-radius: 999rem;
}

.chat-submit {
  /*width: 20%;*/
  /*[>height: 35px;<]*/
  /*border: solid 1px #444;*/
  border-radius: 999rem;
  color: #fff;
  background: #000;
}

.chat-window {
  height: 100%;
  width: 100%;
}

#chatSection {
  /*float: left;*/
  border: 1px grey solid;
  border-radius: 10px;
  padding: 10px;
}

/*.render-message {*/
  /*width: 50%;*/
  /*color: red;*/
  /*background: #000;*/
/*}*/
